<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kz.lightapp.lightapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo"
        android:roundIcon="@drawable/ic_logo_circle"
        android:label="LightApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Volunteer.VolunteersSignUpActivity"
            android:parentActivityName=".Volunteer.UnauthorizedVolunteerMainActivity" />
        <activity
            android:name=".Organization.OrganizationSignUpActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MyWelcomeActivity"
            android:theme="@style/WelcomeScreenTheme"/>
        <activity
            android:name=".Volunteer.UnauthorizedVolunteerMainActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Organization.MainOrganizationActivity" />
        <activity
            android:name=".Volunteer.VolunteersLoginActivity"
            android:parentActivityName=".Volunteer.UnauthorizedVolunteerMainActivity" />
        <activity
            android:name=".Organization.OrganizationLoginActivity"
            android:parentActivityName=".Organization.OrganizationSignUpActivity" />
        <activity android:name=".Volunteer.AuthorizedVolunteerMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Volunteer.VolunteerProfile"
            android:parentActivityName=".Volunteer.AuthorizedVolunteerMainActivity" />
        <activity android:name=".Organization.OrganizationProfile" />
        <activity android:name=".Organization.AddEventActivity" />
        <activity android:name=".Organization.ApplicantsActivity" />
        <activity android:name=".Volunteer.GetEventsActivity"></activity>
    </application>

</manifest>